.countDownContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: var(--clr1bg);
    color: var(--clr1);
}

.countDownContainerLow {
    color: red;
}

.countDownContainerDone {
    background-color: var(--gray2);
    color: white;
}
