.seasonClockContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: var(--clr1bg-light);
}

.seasonClockContainerDark{
    background-color: var(--gray3);
    color: var(--gray1);
}

.seasonClockContainer img {
	width: 100px;
	height: 100px;
	object-fit: cover;
}